html {
  background: black;
}
h1 {
  text-align: center;
  color: aliceblue;
}
.meme_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40em;
  height: 40em;
  justify-content: space-between;
}
.controls_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.images_container {
  margin: auto;
  width: inherit;
  height: 30em;
  background: white;
  overflow: hidden;
}
.images_container div {
  overflow: hidden;
  height:inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.images_container div:nth-of-type(1){
    background-image: url("assets/Image1.jpg");
}
.images_container div:nth-of-type(2){
    background-image: url("assets/Image2.jpg");
}
.images_container div:nth-of-type(3){
    background-image: url("assets/Image3.jpg");
}
.images_container div:nth-of-type(4){
    background-image: url("assets/Image4.jpg");
}
.labels_container {
  display: flex;
  flex-direction: column;
  color: blanchedalmond;
  overflow: hidden;
  height: 1em;
  z-index: 0;
  
}
.labels_container div{
    transform: translateY(-1em);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
.wrapper {
  margin-top: 1%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
input {
    appearance: none;
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 1em;
    width: 1em;
  cursor: pointer;
}
input:checked:nth-of-type(1) + .labels_container div:nth-of-type(1),
input:checked:nth-of-type(2) + .labels_container div:nth-of-type(2)
input:checked:nth-of-type(3) + .labels_container div:nth-of-type(3),
input:checked:nth-of-type(4) + .labels_container div:nth-of-type(4){
  border-radius: 50%;
  accent-color: white;
  opacity: 1;
	z-index: 1;
    transform: translateY(-1em);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  /*accent-color: white;*/
}
input:hover {
  color: yellowgreen;
  background: yellowgreen;
  border-color: yellowgreen;
  cursor: pointer;
}
